<nav id="myTopnav" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Js Crowd Session</h1>
            <p>This is a Demo Web App for LezMonde</p>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" ng-click="openNav()" href="#">Filtreaza produsele</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a target="_blank" href="https://www.ibm.com/ro-ro/">IBM</a></li>
        </ul>
    </div>
</nav>

<aside id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-click="resetFilters(); closeNav()">&times;</a>
    <a href="#" ng-click="selectedOrder = '-price'">Ordoneaza dupa pret</a>
    <a href="#" ng-click="selectCategory(category.name)" ng-repeat="category in categories track by $index">{{category.name}}</a>
    
</aside>

<section id="mySection" class="content">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="product in products 
        | filter: filterProductsByCategs() | orderBy: selectedOrder track by $index">
            <h1>{{product.name}} | {{product.category}}<h1>
            <h2>{{product.description}}<h2>
            <h3>{{product.price}} {{product.currency}}</h3>
            <h4>In magazin: {{product.quantity}}</h4>
        </li>
    </ul>
</section>